<section class="platform-tips" id="section-platform-tips">
    {% include 'components/common/section-header.twig' with {
        class: 'platform-tips__header',
        background: 'платформа',
        title: 'Несколько подсказок для тех, <strong class="color-brand-1">кто начал <br>работать с Платформой</strong>'
    } %}
    <div class="container platform-tips__content">
        {% include 'pages/components/step-row.twig' with {
            index: 1,
            image: image1,
            number: 1,
            stepItemClass: "step-item_arrow",
            title: '<strong class="color-brand-1">Хотите первым узнавать</strong> <br>о главных новостях?',
            body: 'Включите Push-уведомления — и система сообщит вам самое важное даже если Платформа закрыта.'
        } %}
        {% include 'pages/components/step-row.twig' with {
            index: 2,
            image: image2,
            number: '2',
            title: '<strong class="color-brand-1">Ищете</strong> дополнительную <br>мотивацию?',
            body: 'Устройте корпоративные игры! Бросьте вызов члену Сообщества и выиграйте достойный приз.'
        } %}
        {% include 'pages/components/step-row.twig' with {
            index: 3,
            image: image3,
            number: 3,
            stepItemClass: "step-item_arrow",
            title: 'Вы новичок и не знаете,<br><strong class="color-brand-1">как работать с воронкой?</strong>',
            body: 'Пройдите обучение внутри Платформы и посмотрите, как наиболее эффективно использовать уже загруженные материалы'
        } %}
        {% include 'pages/components/step-row.twig' with {
            index: 4,
            image: image4,
            number: 4,
            title: '<strong class="color-brand-1">Хотите лучше</strong> развивать<br>команду?',
            body: 'Используйте элементы коучинга. В платформу уже встроены Диаграмма Ганта, Матрица Эйзенхауэра и другие полезные инструменты.'
        } %}
    </div>
    {% include 'components/common/next-button.twig' with {
        class: 'model__next'
    } %}
</section>