{% import 'macros/landing.twig' as landing %}
<div class="modal modal-platform" id="modal-platform">
    <div class="modal__box modal__box_effect-1 modal__box_medium modal-platform__box">
        <button class="modal__close" data-close="modal">&times;</button>
        <div class="modal-platform__body">
            <div class="modal-platform__content">
                <p class="modal-platform__bg">узнать<br>больше</p>
                <p class="modal-platform__title"><strong>Возьмите реферальную<br>
                    ссылку</strong> у члена<br>
                    Сообщества GCG</p>
            </div>
            {{ landing.image({
                src: 'img/popup-picture.jpg',
                alt: title,
                class: 'modal-platform__man'
            }) }}
        </div>
    </div>
</div>